body {
margin-top: 2em;
margin-right: 1em;
margin-left: 1em;
font-family:'Lato', sans-serif;
/* background-color: #fcd914; */
}


nav {
background-color: #fff;
box-shadow: none;
}

nav .brand-logo {
  color:#444;
}

nav a {
    color: #000;
    font-family:'Candal', sans-serif;
}

.brand-logo img {
  max-width: 200px;
}

header {
  text-align: center;
}
.button-wrap {
margin-top: 1.5em;
}

.btn-large {
background-color: #f57f25;
}
